<% content_for :title do %>Edit <%= @blog.name %><% end %>

<div class="offset3">
<h1 class="offset1">Edit <%= @blog.name %></h1>
<%= simple_form_for(@blog) do |f| %>
<%= f.input :name, :value => @blog.name %>
<%= f.input :description, :value => @blog.description, :input_html => {:style => 'width: 450px; height:75px'} %>
<%= f.button :submit, :class => "btn btn-success" %>
<% end %>
</div>