<h1>Edit <%= @post.title %></h1>
<div class="offset4">
<%= simple_form_for(@post) do |f| %>
<%= f.input :title, :value => @post.title %>
<%= f.input :content, :value => @post.content %>
<%= f.button :submit, :class => "btn btn-success" %>
<% end %>
</div>